/*------------------------------------------ ESTILOS  DE  LA  PAGINA  CONTACTO -----------------------------------------*/
/*doy color de fondo al div*/
.bodyContact {
  background-color: $rosa2;
}
/*le doy margen, color a la letra y centro el texto en el h1 de la pagina contacto*/
.contacto h1 {
  margin: 20px;
  text-align: center;
  color: $piel;
}
/*doy la funcion de bloque, doy estilo a los margenes de abajo y los costado y al padding de la imagen de la pagina contacto*/
.contacto img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: auto;
  border-radius: 10px 30px;
}
/*doy color y tamaño de letra, estilo al padding, centro el texto, doy fuente a la letra y un margen en los parrafos de la pagina contacto*/
.contacto p {
  display: inline-block;
  color: white;
  font-size: larger;
  padding: 20px 15px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 20px;
  animation-name: text_animacion;
  animation-iteration-count: initial;
  animation-duration: 4s;
  animation-delay: 0.5s;
}
/*centro el div en el que esta el parrafo*/
.pContact {
  text-align: center;
}
/*doy funcion de flex, centro el contenido, doy un radio al borde, color de fondo, margin, padding, height y widht al div que contiene el formulario*/
.form {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: $verde2;
  padding: 20px 15px;
  margin: 20px;
  height: 550px;
  width: 1000px;
}
/*doy funcion de flex y centro el contenido del div */
.divform{
  display: flex;
  justify-content: center;
}
/*doy color a las letras del formulario de la pagina contacto*/
.contacto form {
  color: $verde3;
}
/*doy color al footer de la pagina contactos*/
.footerContact {
  background-color: $verde2;
}

