/*---------------------------------------- ESTILOS  DE  LA  PAGINA  ECO  TUTORIALES ---------------------------------*/

/*doy margen, color y fuente a las letras y centro el texto en los h1 de la pagina de eco tutoriales */
.eco h1 {
  margin: 20px;
  color: $verde2;
  text-align: center;
  font-family: inherit;
}
.eco h5{
  margin: 20px;
  color: white;
  font-size: large;
  text-align: center;
  padding: 20px 15px;
  font-family: "Open Sans", sans-serif;
  animation-name: text_animacion;
  animation-iteration-count: initial;
  animation-duration: 4s;
  animation-delay: 0.5s;
}
/*doy opacidad de 0.2 para el inicio y termino con opacidad 3*/
@keyframes text_animacion {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/*doy margen, color y fuente de letra y centro el texto en los h2 de la pagina eco tutoriales*/
.eco h2 {
  margin: 20px;
  color: $verde3;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
/*doy funcion de linea y bloque, centro el texto, doy margen,color de fondo, color y fuente de letra, estilo de padding y centro el texto en la pagina eco tutoriales*/
.eco h6 {
  display: inline-block;
  text-align: center;
  margin: 20px;
  background-color: $verde3;
  color: white;
  padding: 20px 15px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*centro el div donde esta el texto de los h6*/
.pEco {
  text-align: center;
}
/*doy margen, color y fuente a la letra, centro el texto y doy subrayado a los h3 de la pagina eco tutoriales*/
.eco h3 {
  margin: 20px;
  color: $verde3;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-decoration: underline;
}
.tutorialesDeco{
  display: flex;
  justify-content: space-around;
}
.tutorialesDeco img{
  height: 287px;
  width: 287px;
  object-fit: cover;
}
.tutorialesNiños{
  display: flex;
  justify-content: center;
}
.tutorialesNiños img{
  height: 287px;
  width: 287px;
  object-fit: cover;
}
.tipsEco{
  display: flex;
  justify-content: center;
}
.tipsEco img{
  height: 287px;
  width: 287px;
  object-fit: cover;
}
.card{
  position: inherit;
}
/*doy color al footer*/
.footerEco {
  background-color: $rosa1;
}
